/* src/pages/LoginPage.css */
.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.login-form {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: left;
  width: 300px;
  margin: 0 auto;
}

.login-form h2 {
  text-align: center;
}

.login-form form div {
  margin-bottom: 15px;
}

.login-form label {
  display: block;
  margin-bottom: 5px;
}

.login-form input {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
}

.button-group {
  display: flex;
  justify-content: space-between;
}

.button-group button {
  width: 45%;
  padding: 10px;
  background-color: #ffcb05;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.button-group button:hover {
  background-color: #f0b400;
}

.registered-users {
  margin-top: 20px;
  text-align: left;
}

.registered-users h3 {
  font-size: 18px;
  margin-bottom: 10px;
}

.registered-users ul {
  list-style-type: none;
  padding: 0;
}

.registered-users li {
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  margin-bottom: 5px;
  padding: 5px;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.delete-button {
  background-color: #ff6b6b;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  padding: 5px 10px;
  font-size: 14px;
  color: #ffffff;
}

.delete-button:hover {
  background-color: #ff4757;
}

/* 추가: 강제로 Home 페이지로 이동하는 버튼 스타일 */
.force-navigate-button {
  width: 100%;
  padding: 10px;
  background-color: #4caf50;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  color: #ffffff;
  margin-top: 20px;
}

.force-navigate-button:hover {
  background-color: #45a049;
}

/* 포켓볼 애니메이션 */
.pokeball-animation {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 0;
  height: 0;
  background-image: url("../assets/images/pokeball.svg"); /* 포켓볼 이미지 경로 */
  background-size: cover;
  transform: translate(-50%, -50%);
  animation: pokeball-grow 2s ease-in-out;
  z-index: 1000;
}

@keyframes pokeball-grow {
  0% {
    width: 0;
    height: 0;
    transform: translate(-50%, -50%) scale(0) rotate(0deg);
  }
  100% {
    width: 150vw;
    height: 150vw;
    transform: translate(-50%, -50%) scale(1) rotate(360deg);
  }
}
