/* src/pages/SelectPokemon.css */

/* 포켓몬 컨테이너 */
.pokemon-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  justify-content: center;
  margin: 30px;
}

.start-game-button {
  padding: 15px 30px;
  font-size: 18px;
  background-color: #ffcb05;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 10px;
  grid-column: span 3;
  text-align: center;
  color: black;
}

.start-game-button:hover {
  background-color: #f0b400;
  transform: scale(1.05);
}

.start-game-button:active {
  background-color: #f0b400;
  transform: scale(0.95);
}
