.type-button {
  margin-top: 10px;
  padding: 10px 20px;
  font-size: 1em;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.type-button:hover {
  background-color: #45a049;
}
.type-select-box {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 10px;
  position: fixed;
  right: -1300%;
  top: 90%;
}

.message {
  position: absolute;
  top: 80%;
  left: -1050%;
  font-size: 2.2em;
  color: white;
  text-align: center;
  margin-top: 10px;
  white-space: nowrap; /* Prevent line breaks */
}

.message-box {
  position: fixed;
  top: 54%;
  left: 45%;
  transform: translateX(-50%);
  width: auto;
  height: 100px;
  text-align: center;
  padding: 20px;
}

.pokemon-select {
  text-align: center;
  margin-top: 20px;
}

.pokemon-list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 10px;
  position: fixed;
  right: -1400%;
  top: 70%;
}

.switch-prompt {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 10px;
  position: fixed;
  right: -1450%;
  top: 90%;
}

.switch-prompt {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 10px;
  position: fixed;
  right: -1450%;
  top: 90%;
}

.catch-prompt {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 10px;
  position: fixed;
  right: -1300%;
  top: 90%;
}

.pokemon-list button,
.switch-prompt button,
.type-select-box button,
.catch-prompt button {
  padding: 1px;
  font-size: 2.2em;
  background-color: #ffffff00;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  white-space: nowrap; /* Prevent line breaks */
}

.pokemon-list button:hover,
.switch-prompt button:hover,
.type-select-box button:hover,
.catch-prompt button:hover {
  background-color: #ffffff00;
}

.sidebar {
  position: fixed;
  right: -200px;
  top: 0;
  height: 100%;
  width: 200px;
  background-color: #f4f4f4;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
  transition: right 0.3s;
}

.sidebar.active {
  right: 0;
}

.sidebar-toggle {
  position: absolute;
  left: -50px;
  top: 20px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  padding: 10px;
  font-size: 16px;
}

.sidebar-item {
  display: block;
  padding: 10px;
  text-align: center;
  cursor: pointer;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  margin: 10px;
  transition: background-color 0.2s;
}

.sidebar-item:hover {
  background-color: #45a049;
}

.type-calculator-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}

.type-calculator-overlay .type-effectiveness-calculator {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 300px;
}

.type-calculator-overlay button {
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  padding: 10px;
  font-size: 16px;
  margin-top: 10px;
}

.type-calculator-overlay button:hover {
  background-color: #45a049;
}
